$primary-color: #47d397;
$white-color: #fff;

.container {
  height: 100vh;
}

.login {
  background-color: $primary-color;
  width: 382px;
  height: 446px;
}

.cadastro {
  background-color: $white-color;
  width: 382px;
  height: 446px;
}
