<header class="header">
  <h1>HEALTH JOBS</h1>
  <nav>
    <ul class="header-menu">
      <li><a href="">Ver vagas</a></li>
      <li><a href="">Postar</a></li>
    </ul>
  </nav>
</header>

<main class="introducao-bg">
  <div class="introducao">
    <p>
      As melhores vagas para <br />
      profissionais da área da saúde
    </p>
  </div>
</main>

<div class="container">
  <div class="template-areas">
    <div class="quantidade"><strong>239 vagas</strong> disponíveis</div>
    <div class="ordenar">
      <button
        class="button-white"
        pButton
        type="button"
        label="Ordenar"
      ></button>
    </div>
    <div class="form">
      <form>
        <h2>Filtre sua busca</h2>
        <div>
          <label for="especialidade">Especialidade</label>
          <p-multiSelect
            name="especialidade"
            id="especialidade"
            optionLabel="especialidade"
            [options]="especialidades"
            [(ngModel)]="especialidadeSelecionada"
          ></p-multiSelect>
        </div>
        <div>
          <label for="local">Local</label>
          <p-multiSelect
            name="local"
            id="local"
            optionLabel="local"
            [options]="locais"
            [(ngModel)]="localSelecionado"
          ></p-multiSelect>
        </div>
        <div>
          <button
            class="button-green"
            pButton
            type="button"
            label="Buscar"
          ></button>
        </div>
      </form>
    </div>

    <div class="vaga">
      <div class="vaga-bg">
        <div class="texto">
          <p><strong>Fisioterapeuta</strong></p>
          <p>Rio de Janeiro</p>
          <p>R$ 3.001 a R$ 4.000 por mês - Tempo integral</p>
          <p>
            Realizar diagnóstico e prognóstico fisioterapêutico, e tratamento
            dos distúrbios cinéticos funcionais de ordem neurológica, motora ou
            respiratória, visando o restabelecimento parcial ou completo da
            função.
          </p>
          <button
            class="button-green"
            pButton
            type="button"
            label="CANDIDATAR-SE"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer-bg">
  <div class="footer">
    <div>
      <p>HEALTH JOBS</p>
      <p>+55(21) 0000-0000</p>
      <p>Rua. Algum lugar 201, <br />Rio de Janeiro - RJ <br />00000-000.</p>
    </div>
    <div>
      <p>PARA PROFISSIONAIS DA SAÚDE</p>
      <p>Médicos</p>
      <p>Fisioterapeutas</p>
      <p>Terapeutas ocupacionais</p>
      <p>Enfermeiros</p>
    </div>
  </div>
  <div class="direitos">
    <p>© 2022 - 2022 VAGAS | HEALTH. Todos os direitos reservados.</p>
  </div>
</footer>

<!--
<button *ngIf="isPerfil('Profissional')" (click)="logout()">
  Logout Profissional
</button>
<button *ngIf="isPerfil('Empresa')" (click)="logout()">Logout Empresa</button>

<p>Seja bem vindo: {{usuarioLogado()}}</p> -->
