<header class="header">
  <h1>HEALTH JOBS</h1>
  <nav>
    <ul class="header-menu">
      <li><a routerLink="vagas">Ver vagas</a></li>
      <li *ngIf="isPerfil('Empresa')"><a routerLink="postar">Postar</a></li>
      <li><a routerLink="/login">Sair</a></li>
    </ul>
  </nav>
</header>

<main class="introducao-bg">
  <div class="introducao">
    <p>
      As melhores vagas para <br />
      profissionais da área da saúde
    </p>
  </div>
</main>

<div class="container">
  <div class="template-areas">
    <div class="quantidade"><strong>239 vagas</strong> disponíveis</div>

    <div class="ordenar">
      <button
        class="button-white"
        pButton
        type="button"
        label="Ordenar"
      ></button>
    </div>

    <div class="form border-radius">
      <form>
        <h2>Filtre sua busca</h2>
        <div>
          <div class="margin-top30">
            <label for="especialidade">Especialidade</label>
          </div>
          <div class="width-225">
            <p-multiSelect
              name="especialidade"
              id="especialidade"
              optionLabel="especialidade"
              [options]="especialidades"
              [(ngModel)]="especialidadeSelecionada"
            ></p-multiSelect>
          </div>
        </div>
        <div>
          <div class="margin-top20">
            <label for="local">Local</label>
          </div>
          <div class="width-225">
            <p-multiSelect
              name="local"
              id="local"
              optionLabel="local"
              [options]="locais"
              [(ngModel)]="localSelecionado"
            ></p-multiSelect>
          </div>
        </div>
        <div class="margin-top20">
          <button
            class="button-green"
            pButton
            type="button"
            label="Buscar"
          ></button>
        </div>
      </form>
    </div>

    <div class="vaga">
      <div class="vaga-bg border-radius">
        <div class="texto">
          <p><strong>Fisioterapeuta</strong></p>
          <p>Rio de Janeiro</p>
          <p>R$ 3.001 a R$ 4.000 por mês - Tempo integral</p>
          <p>
            Realizar diagnóstico e prognóstico fisioterapêutico, e tratamento
            dos distúrbios cinéticos funcionais de ordem neurológica, motora ou
            respiratória, visando o restabelecimento parcial ou completo da
            função.
          </p>
          <div class="margin-top20">
            <button
              class="button-green"
              pButton
              type="button"
              label="CANDIDATAR-SE"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer-bg">
  <div class="footer">
    <div>
      <p>HEALTH JOBS</p>
      <p>+55(21) 0000-0000</p>
      <p>Rua. Algum lugar 201, <br />Rio de Janeiro - RJ <br />00000-000.</p>
    </div>
    <div>
      <p>PARA PROFISSIONAIS DA SAÚDE</p>
      <p>Médicos</p>
      <p>Fisioterapeutas</p>
      <p>Terapeutas ocupacionais</p>
      <p>Enfermeiros</p>
    </div>
  </div>
  <div class="direitos">
    <p>© 2022 - 2022 VAGAS | HEALTH. Todos os direitos reservados.</p>
  </div>
</footer>
