/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;

  background-color: #f9f8f6;
  font-family: "Inter", sans-serif;
}
